body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: sandybrown;
    margin: 0;
    width: auto;
}

header {
    background-color: #8df1b8;
    padding: 10px;
}


header h2 {
    font-size: medium;
}

footer {
    font-size: smaller;
    text-align: center;
}